#filmes{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 200px;
    height: 300px;
    background-color: #ddd;
    border: solid 1px #999;
    border-radius: 15px;
    margin: 5px;
}

/* pode usar , .proxima-class para usar o mesmo "estilo"
para diferentes classes */
.card-titulo, .card-genero{ 
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-acao{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 0px 0px 15px 15px;
}

.card-acao:hover{
    background-color: black;
}


